{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block body %}
   {# <h1>Usuário</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Senha</th>
                <th>Nivel de acesso</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.eMail }}</td>
                <td>{{ usuario.senha }}</td>
                <td>{{ usuario.nivelAcesso }}</td>
                <td>
                    <a href="{{ path('usuario_show', {'id': usuario.id}) }}">Mostrar</a>
                    <a href="{{ path('usuario_edit', {'id': usuario.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuario_new') }}">Criar novo</a> #}

<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="text-right mb-3">
    </div>
    <table width="100%" id="lista1" class="table table-striped table-hover">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script>
var tabela = $("#lista1").DataTable({
  paging: true,
    lengthChange: true,
    searching: true,
    ordering: true,
    info: true,
    autoWidth: true,
    responsive: true,
    columns: 
    [
        { data: "nome", title: "Nome"},
        { data: "eMail", title: "E-Mail"},
        { data: "senha", title: "Senha"},
        { data: "nivelAcesso", title: "Nível de Acesso"},
    ],ajax: {
      url: "{{ path('usuario_ajax') }}",
      type: "POST",
      dataSrc: function(resp){
        console.log(resp);
        
        $('#loading').remove();    
        return resp;
      }
    }
});
</script>

{% endblock %}
