{% extends 'base.html.twig' %}
  {% block title %}{% endblock %}
  {% block body %}
  {{ form_start(form) }}
  <div class="form-group input-group">
    <div class="form-row ">
    <div class="container">
    <div class="input-group">
      <div class="col-3 m-2">
        {{ form_label(form.razaoSocial) }} 
        {{ form_widget(form.razaoSocial, {'attr':{'class':'form-control'}}) }}
      </div> 
      <div class="col-3 m-2">
      {{ form_label(form.cnpj) }}
      {{ form_widget(form.cnpj, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="col-3 m-2">
      {{ form_label(form.endereco) }}
      {{ form_widget(form.endereco, {'attr':{'class':'form-control'}}) }}
      </div>
      </div>
      </div>
      <div class="container">
      <div class="form-row ">
      <div class="input-group">
      <div class="col-3 m-2">
      {{ form_label(form.telefone) }}
      {{ form_widget(form.telefone, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="col-3 m-2">
      {{ form_label(form.email) }}
      {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
      </div>
      <div class="col-3 m-2">
      {{ form_label(form.ramoDeAtividade) }}
      {{ form_widget(form.ramoDeAtividade, {'attr':{'class':'form-control'}}) }}
      </div>
      </div>
      </div>
       </div>
      <div class="container">
      <div class="form-row ">
      <div class="input-group">
      <div class="col-3 m-2">
      {{ form_label(form.numeroDeFuncionarios) }}
      {{ form_widget(form.numeroDeFuncionarios, {'attr':{'class':'form-control'}}) }}
      </div>   
      <div class="col-6 m-4 text-right">
      <button type="submit" class="btn btn-primary">Submit</button> 
      </div>
      </div>
      </div>
      </div>
      </div>
  </div>  
  {{ form_end(form) }}
{% endblock %} 