{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <h1>Dados</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Razão social</th>
                <td>{{ empresa.razaoSocial }}</td>
            </tr>
            <tr>
                <th>CNPJ</th>
                <td>{{ empresa.cnpj }}</td>
            </tr>
            <tr>
                <th>Endereço</th>
                <td>{{ empresa.endereco }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ empresa.telefone }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ empresa.email }}</td>
            </tr>
            <tr>
                <th>Ramo de atividade</th>
                <td>{{ empresa.ramoDeAtividade }}</td>
            </tr>
            <tr>
                <th>Número de funcionários</th>
                <td>{{ empresa.numeroDeFuncionarios }}</td>
            </tr>
        </tbody>
    </table>
    <div style="font-weight:bold" class="form-row col-4 ml-4 mt-0 text-">
    <a href="{{ path('empresa_index') }}">Voltar para lista</a>  
    <div class="ml-4">
    <a href="{{ path('empresa_edit', {'id': empresa.id}) }}">Editar</a>
    </div>
    </div>
    </div>
    <div style="font-weight:bold" class="col-4 ml-4 mt-0 text-left">
      {{ include('empresa/_delete_form.html.twig') }}
    </div>
{% endblock %}


