{% extends 'base.html.twig' %}
  {% block title %}{% endblock %}
  {% block body %}
  {{ form_start(form) }}
  <div class="form-group">
    <div class="form-row">
        <div class="col-6">
      <label>{{ form_label(form.nome) }}</label>
      {{ form_widget(form.nome) }}
      </div>
      <div class="col-6">
      {{ form_label(form.eMail) }}
      {{ form_widget(form.eMail) }}
      </div>
      <div class="col-6">
      {{ form_label(form.senha) }}
      {{ form_widget(form.senha) }}
      </div>
      <div class="col-6">
      {{ form_label(form.nivelAcesso) }}
      {{ form_widget(form.nivelAcesso) }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>  
  {{ form_end(form) }}
{% endblock %}
