{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data de nascimento</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.dataDeNascimento ? cliente.dataDeNascimento|date('Y-m-d') : '' }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>
                    <a href="{{ path('clientes_show', {'id': cliente.id}) }}">Mostrar</a>
                    <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('clientes_new') }}">Criar novo</a>
{% endblock %}
