{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>DataDeNascimento</th>
                <td>{{ cliente.dataDeNascimento ? cliente.dataDeNascimento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ cliente.telefone }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ cliente.endereco }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ cliente.cpf }}</td>
            </tr>
        </tbody>
    </table>
     <div style="font-weight:bold" class="form-row col-4 ml-4 mt-0 text-">
    <a href="{{ path('clientes_index') }}">Back to List</a>  
    <div class="ml-4">
    <a href="{{ path('clientes_edit', {'id': cliente.id}) }}">Edit</a>
    </div>
    </div>
    </div>
    <div style="font-weight:bold" class="col-4 ml-4 mt-0 text-left">
      {{ include('clientes/_delete_form.html.twig') }}
    </div>
{% endblock %}
